# Import des données

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Scrapping" data-toc-modified-id="Scrapping-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Scrapping</a></span></li><li><span><a href="#Questions" data-toc-modified-id="Questions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Questions</a></span></li><li><span><a href="#Premières-recherches" data-toc-modified-id="Premières-recherches-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Premières recherches</a></span><ul class="toc-item"><li><span><a href="#Nombre-d'acteurs" data-toc-modified-id="Nombre-d'acteurs-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Nombre d'acteurs</a></span></li></ul></li><li><span><a href="#Rapport" data-toc-modified-id="Rapport-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Rapport</a></span></li></ul></div>

## Imports

In [10]:
import pandas as pd
from pandas_profiling import ProfileReport

In [11]:
#data = pd.read_csv('data/5000_movies.csv')

## Scrapping

Il y a trop de données manquantes sur le premier dataset "5000_movies.csv" .

[Scrapping des données](scrapping.ipynb)

In [12]:
#data = pd.read_csv('data/5000_movies.csv')
data = pd.read_csv('data/5000_movies_bis.csv')
data.head(7)

,color,director_name,num_critic_for_reviews,duration,director_fb_likes,actor_3_fb_likes,actor_2_name,actor_1_fb_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_fb_likes,imdb_score,aspect_ratio,movie_fb_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0

## Questions

In [13]:
#combien y a-t-il d'observations/de variables ?
print("il y a ", data.shape[0], "observations et ", data.shape[1], "variables")

#sur combien d'années se répartissent les données ?

    # Get a series of unique values in column 'title_year' of the dataframe
uniqueValues = data['title_year'].unique()
print('Unique elements in column "title_year" ')
print(uniqueValues)

    # Count unique values in column 'title_year' of the dataframe
uniqueValues = data['title_year'].nunique()
print('Number of unique values in column "title_year" of the dataframe : ')
print(uniqueValues)
    
    # Count unique values in column 'title_year' including NaN
uniqueValues = data['title_year'].nunique(dropna=False)
 
print('Number of unique values in column "title_year" including NaN')
print(uniqueValues)

#combien de pays sont représentés ?

    # Count unique values in column 'country' of the dataframe
uniqueValues = data['country'].nunique()
print('Number of unique values in column "country" of the dataframe : ')
print(uniqueValues)

#combien de réalisateurs différents dans la base ?

    # Count unique values in column 'director_name' of the dataframe
uniqueValues = data['director_name'].nunique()
print('Number of unique values in column "director_name" of the dataframe : ')
print(uniqueValues)

#combien d'acteurs et d'actrices différentes ?

    # Count unique values in column 'actor_2_name' of the dataframe
uniqueValues = data['actor_2_name'].nunique()
print('Number of unique values in column "actor_2_name" of the dataframe : ')
print(uniqueValues)

il y a  5043 observations et  28 variables
Unique elements in column "title_year"
[2009. 2007. 2015. 2012.   nan 2010. 2016. 2006. 2008. 2013. 2011. 2014.
 2005. 1997. 2004. 1999. 1995. 2003. 2001. 2002. 1998. 2000. 1990. 1991.
 1994. 1996. 1982. 1993. 1979. 1992. 1989. 1984. 1988. 1978. 1962. 1980.
 1972. 1981. 1968. 1985. 1940. 1963. 1987. 1986. 1973. 1983. 1976. 1977.
 1970. 1971. 1969. 1960. 1965. 1964. 1927. 1974. 1937. 1975. 1967. 1951.
 1961. 1946. 1953. 1954. 1959. 1932. 1947. 1956. 1945. 1952. 1930. 1966.
 1939. 1950. 1948. 1958. 1957. 1943. 1944. 1938. 1949. 1936. 1941. 1955.
 1942. 1929. 1935. 1933. 1916. 1934. 1925. 1920.]
Number of unique values in column "title_year" of the dataframe :
91
Number of unique values in column "title_year" including NaN
92
Number of unique values in column "country" of the dataframe :
65
Number of unique values in column "director_name" of the dataframe :
2398
Number of unique values in column "actor_2_name" of the dataframe :
3032

## Premières recherches

### Nombre d'acteurs

In [14]:
df_a1n = pd.DataFrame(data, columns = ['actor_1_name'])
df_a1n = df_a1n.rename(columns={"actor_1_name": "actor_name"})
df_a2n = pd.DataFrame(data, columns = ['actor_2_name'])
df_a2n = df_a2n.rename(columns={"actor_2_name": "actor_name"})
df_a3n = pd.DataFrame(data, columns = ['actor_3_name'])
df_a3n = df_a3n.rename(columns={"actor_3_name": "actor_name"})
df_an = df_a1n.append(df_a2n)
df_an = df_an.append(df_a3n)
unique_actor = df_an['actor_name'].nunique()
print("Il y a ", unique_actor, "noms d'acteurs différents")

Il y a  6255 noms d'acteurs différents

In [15]:
print("Il y a ", data.count().max(), "films pour la période ", round(data['title_year'].min()), "à", round(data['title_year'].max()) )

Il y a  5043 films pour la période  1916 à 2016

In [16]:
print ('Nombre de films : {}'.format(data.shape[0]))

Nombre de films : 5043

## Rapport

In [17]:
profile = ProfileReport(data, title='Pandas Profiling Report', html={'style':{'full_width':True}})

C:\ProgramData\Anaconda3\lib\site-packages\pandas_profiling\model\correlations.py:126: UserWarning: There was an attempt to calculate the cramers correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"cramers": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/pandas-profiling/pandas-profiling/issues
(include the error message: 'The internally computed table of expected frequencies has a zero element at (0, 8).')
  correlation_name=correlation_name, error=error

In [18]:
#profile.to_widgets()

In [19]:
#profile.to_notebook_iframe()

In [20]:
profile.to_file(output_file="report/report1.html")

In [21]:
profile.to_file(output_file="report/report1.json")

[Pour allèger le notebook, le rapport est disponible ici](report/report1.html)

In [23]:
type(data)

pandas.core.frame.DataFrame

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   5024 non-null   object
 1   director_name           4939 non-null   object
 2   num_critic_for_reviews  4993 non-null   float64
 3   duration                5028 non-null   float64
 4   director_fb_likes       4939 non-null   float64
 5   actor_3_fb_likes        5020 non-null   float64
 6   actor_2_name            5030 non-null   object
 7   actor_1_fb_likes        5036 non-null   float64
 8   gross                   4577 non-null   float64
 9   genres                  5043 non-null   object
 10  actor_1_name            5036 non-null   object
 11  movie_title             5043 non-null   object
 12  num_voted_users         5043 non-null   int64
 13  cast_total_fb_likes     5043 non-null   int64
 14  actor_3_name            5020 non-null   object
 15  facenumber_in_poster    5030 non-null   float64
 16  plot_keywords           4890 non-null   object
 17  movie_imdb_link         5043 non-null   object
 18  num_user_for_reviews    5022 non-null   float64
 19  language                5031 non-null   object
 20  country                 5038 non-null   object
 21  content_rating          4740 non-null   object
 22  budget                  4640 non-null   float64
 23  title_year              4935 non-null   float64
 24  actor_2_fb_likes        5030 non-null   float64
 25  imdb_score              5043 non-null   float64
 26  aspect_ratio            4714 non-null   float64
 27  movie_fb_likes          5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [25]:
data.describe()

,num_critic_for_reviews,duration,director_fb_likes,actor_3_fb_likes,actor_1_fb_likes,gross,num_voted_users,cast_total_fb_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_fb_likes,imdb_score,aspect_ratio,movie_fb_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.577000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.640000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.522261e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.938647e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.652850e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.041819e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.130000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,3.792188e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.178443e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,5.749100e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.400000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [26]:
print(data.columns)

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_fb_likes', 'actor_3_fb_likes', 'actor_2_name',
       'actor_1_fb_likes', 'gross', 'genres', 'actor_1_name', 'movie_title',
       'num_voted_users', 'cast_total_fb_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_fb_likes', 'imdb_score',
       'aspect_ratio', 'movie_fb_likes'],
      dtype='object')