<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Projet-P6---révisions-et-pratique" data-toc-modified-id="Projet-P6---révisions-et-pratique-1"><span class="toc-item-num">1&nbsp;&nbsp;</span><strong>Projet P6 - révisions et pratique</strong></a></span><ul class="toc-item"><li><span><a href="#1.-Import-des-libraries" data-toc-modified-id="1.-Import-des-libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><strong>1. Import des libraries</strong></a></span></li><li><span><a href="#2.-Import-des-données" data-toc-modified-id="2.-Import-des-données-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><strong>2. Import des données</strong></a></span></li><li><span><a href="#3.-Nettoyage-des-données" data-toc-modified-id="3.-Nettoyage-des-données-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><strong>3. Nettoyage des données</strong></a></span></li><li><span><a href="#4.-Analyse-exploratoire" data-toc-modified-id="4.-Analyse-exploratoire-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span><strong>4. Analyse exploratoire</strong></a></span></li><li><span><a href="#5.-Pré-traitement" data-toc-modified-id="5.-Pré-traitement-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span><strong>5. Pré-traitement</strong></a></span></li><li><span><a href="#6.-Une-régression-linéaire" data-toc-modified-id="6.-Une-régression-linéaire-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span><strong>6. Une régression linéaire</strong></a></span></li><li><span><a href="#7.-Un-autre-modèle-de-régression" data-toc-modified-id="7.-Un-autre-modèle-de-régression-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span><strong>7. Un autre modèle de régression</strong></a></span></li><li><span><a href="#8.-De-la-régression-à-la-classification" data-toc-modified-id="8.-De-la-régression-à-la-classification-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span><strong>8. De la régression à la classification</strong></a></span></li><li><span><a href="#9.-Une-régression-logistique" data-toc-modified-id="9.-Une-régression-logistique-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span><strong>9. Une régression logistique</strong></a></span></li><li><span><a href="#10.-Un-autre-modèle-de-classification" data-toc-modified-id="10.-Un-autre-modèle-de-classification-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span><strong>10. Un autre modèle de classification</strong></a></span></li><li><span><a href="#11.-En-option" data-toc-modified-id="11.-En-option-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span><strong>11. En option</strong></a></span><ul class="toc-item"><li><span><a href="#11.1.-Un-outil-de-recommandation" data-toc-modified-id="11.1.-Un-outil-de-recommandation-1.11.1"><span class="toc-item-num">1.11.1&nbsp;&nbsp;</span><strong>11.1. Un outil de recommandation</strong></a></span></li><li><span><a href="#11.2.-Sauvegarder-un-modèle" data-toc-modified-id="11.2.-Sauvegarder-un-modèle-1.11.2"><span class="toc-item-num">1.11.2&nbsp;&nbsp;</span><strong>11.2. Sauvegarder un modèle</strong></a></span></li><li><span><a href="#11.3.-Analyse-en-Composantes-Principales" data-toc-modified-id="11.3.-Analyse-en-Composantes-Principales-1.11.3"><span class="toc-item-num">1.11.3&nbsp;&nbsp;</span><strong>11.3. Analyse en Composantes Principales</strong></a></span></li></ul></li><li><span><a href="#Sources" data-toc-modified-id="Sources-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Sources</a></span></li></ul></li></ul></div>

# **Projet P6 - révisions et pratique**

Vous allez travailler sur des données extraites de IMDB. Cela vous permettra si vous les souhaitez (plus tard!) d'inclure ce travail à votre projet TheMoviePredictor que vous faites avec Arnaud dans lequel vous récupérez justement ces données et construisez votre base. La variable d'intérêt sera la notation IMDB des films pour pouvoir déterminer. En effet le succès commercial d'un film n'implique pas nécessairement sa qualité et il convient donc d'aller chercher plus loin que le simple profit dégagé d'une production cinématographique...
À vous !!

Les **objectifs** de ce projet sont multiples :
1. Réviser
2. Pratiquer
3. Vous auto-évaluer et vous évaluer (pour nous)
4. Vous rassurer et vous permettre de réaliser ce que vous savez faire pour pouvoir en parler

## **1. Import des libraries**

**À FAIRE**

> Importer dans la cellule l'ensemble des librairies nécessaires à votre travail. L'idée n'est pas de savoir immédiatement tout ce dont vous aurez besoin mais de faire des aller-retours pour y ajouter vos librairies petit à petit. L'intérêt est une meilleure lisibilité pour un lecteur extérieur qui, en quelques lignes d'import, pourra déjà avoir une idée de ce qui a été fait.

## **2. Import des données**

**À FAIRE**

> Importer les données `5000_movies.csv` disponible à la racine de ce document.  
> Afficher les 7 premières lignes et **toutes** les colonnes.    
> Répondre aux questions suivantes (répondez à toutes les questions dans une seule cellule Markdown mais évidemment le code vous ayant permis d'extraire ces informations doit être présent):
>- combien y a-t-il d'observations/de variables ?
>- sur combien d'années se répartissent les données ?
>- combien de pays sont représentés ?
>- combien de réalisateurs différents dans la base ?
>- combien d'acteurs et d'actrices différentes ?

In [32]:
# Importer les librairies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#conda install -c conda-forge pandas-profiling
from pandas_profiling import ProfileReport

In [33]:
plt.rcParams["figure.figsize"] = (18,8)

In [34]:
data = pd.read_csv('5000_movies.csv')
data.head(7)

,color,director_name,num_critic_for_reviews,duration,director_fb_likes,actor_3_fb_likes,actor_2_name,actor_1_fb_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_fb_likes,imdb_score,aspect_ratio,movie_fb_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0

In [35]:
#combien y a-t-il d'observations/de variables ?
print("il y a ", data.shape[0], "observations et ", data.shape[1], "variables")

#sur combien d'années se répartissent les données ?

    # Get a series of unique values in column 'title_year' of the dataframe
uniqueValues = data['title_year'].unique()
print('Unique elements in column "title_year" ')
print(uniqueValues)

    # Count unique values in column 'title_year' of the dataframe
uniqueValues = data['title_year'].nunique()
print('Number of unique values in column "title_year" of the dataframe : ')
print(uniqueValues)
    
    # Count unique values in column 'title_year' including NaN
uniqueValues = data['title_year'].nunique(dropna=False)
 
print('Number of unique values in column "title_year" including NaN')
print(uniqueValues)

#combien de pays sont représentés ?

    # Count unique values in column 'country' of the dataframe
uniqueValues = data['country'].nunique()
print('Number of unique values in column "country" of the dataframe : ')
print(uniqueValues)

#combien de réalisateurs différents dans la base ?

    # Count unique values in column 'director_name' of the dataframe
uniqueValues = data['director_name'].nunique()
print('Number of unique values in column "director_name" of the dataframe : ')
print(uniqueValues)

#combien d'acteurs et d'actrices différentes ?

    # Count unique values in column 'actor_2_name' of the dataframe
uniqueValues = data['actor_2_name'].nunique()
print('Number of unique values in column "actor_2_name" of the dataframe : ')
print(uniqueValues)

il y a  5043 observations et  28 variables
Unique elements in column "title_year"
[2009. 2007. 2015. 2012.   nan 2010. 2016. 2006. 2008. 2013. 2011. 2014.
 2005. 1997. 2004. 1999. 1995. 2003. 2001. 2002. 1998. 2000. 1990. 1991.
 1994. 1996. 1982. 1993. 1979. 1992. 1989. 1984. 1988. 1978. 1962. 1980.
 1972. 1981. 1968. 1985. 1940. 1963. 1987. 1986. 1973. 1983. 1976. 1977.
 1970. 1971. 1969. 1960. 1965. 1964. 1927. 1974. 1937. 1975. 1967. 1951.
 1961. 1946. 1953. 1954. 1959. 1932. 1947. 1956. 1945. 1952. 1930. 1966.
 1939. 1950. 1948. 1958. 1957. 1943. 1944. 1938. 1949. 1936. 1941. 1955.
 1942. 1929. 1935. 1933. 1916. 1934. 1925. 1920.]
Number of unique values in column "title_year" of the dataframe :
91
Number of unique values in column "title_year" including NaN
92
Number of unique values in column "country" of the dataframe :
65
Number of unique values in column "director_name" of the dataframe :
2398
Number of unique values in column "actor_2_name" of the dataframe :
3032

In [36]:
# ! refaire acteurs car ils sont sur 3 colonnes

In [ ]:
movie_actor_df = pd.melt(data[['movie_title', 'actor_1_name', 'actor_2_name', 'actor_3_name']],
                             'movie_title',
                             var_name='actor_number',
                             value_name='actor')

In [37]:
profile = ProfileReport(data, title='Pandas Profiling Report', html={'style':{'full_width':True}})
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …

In [12]:
type(data)

pandas.core.frame.DataFrame

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   color                   5024 non-null   object
 1   director_name           4939 non-null   object
 2   num_critic_for_reviews  4993 non-null   float64
 3   duration                5028 non-null   float64
 4   director_fb_likes       4939 non-null   float64
 5   actor_3_fb_likes        5020 non-null   float64
 6   actor_2_name            5030 non-null   object
 7   actor_1_fb_likes        5036 non-null   float64
 8   gross                   4159 non-null   float64
 9   genres                  5043 non-null   object
 10  actor_1_name            5036 non-null   object
 11  movie_title             5043 non-null   object
 12  num_voted_users         5043 non-null   int64
 13  cast_total_fb_likes     5043 non-null   int64
 14  actor_3_name            5020 non-null   object
 15  facenumber_in_poster    5030 non-null   float64
 16  plot_keywords           4890 non-null   object
 17  movie_imdb_link         5043 non-null   object
 18  num_user_for_reviews    5022 non-null   float64
 19  language                5031 non-null   object
 20  country                 5038 non-null   object
 21  content_rating          4740 non-null   object
 22  budget                  4551 non-null   float64
 23  title_year              4935 non-null   float64
 24  actor_2_fb_likes        5030 non-null   float64
 25  imdb_score              5043 non-null   float64
 26  aspect_ratio            4714 non-null   float64
 27  movie_fb_likes          5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [17]:
data.describe()

,num_critic_for_reviews,duration,director_fb_likes,actor_3_fb_likes,actor_1_fb_likes,gross,num_voted_users,cast_total_fb_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_fb_likes,imdb_score,aspect_ratio,movie_fb_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

## **3. Nettoyage des données**

**À FAIRE**

> Vous allez dans cette partie vous occuper de faire les opérations de nettoyage sur les données. Cela implique donc de regarder en détail :
>- les doublons
>- les variables (à supprimer, à modifier etc...)
>- les valeurs manquantes
>- les zéros
> 
>Ajouter une courte explication des décisions que vous prendrez (gestion des valeurs manquantes, suppression ou modification de certaines variables, etc...).

In [39]:
data.shape

(5043, 28)

In [40]:
data.drop_duplicates
data.shape

(5043, 28)

In [44]:
sum(data.duplicated())

45

In [47]:
data <- data[!duplicated(data), ]

NameError: name 'duplicated' is not defined

In [42]:
sum(data.duplicated(subset='movie_title', keep=False))

245

In [27]:
data.isna().sum()

color                      19
director_name             104
num_critic_for_reviews     50
duration                   15
director_fb_likes         104
actor_3_fb_likes           23
actor_2_name               13
actor_1_fb_likes            7
gross                     884
genres                      0
actor_1_name                7
movie_title                 0
num_voted_users             0
cast_total_fb_likes         0
actor_3_name               23
facenumber_in_poster       13
plot_keywords             153
movie_imdb_link             0
num_user_for_reviews       21
language                   12
country                     5
content_rating            303
budget                    492
title_year                108
actor_2_fb_likes           13
imdb_score                  0
aspect_ratio              329
movie_fb_likes              0
dtype: int64

In [22]:
data.isnull().sum()

color                      19
director_name             104
num_critic_for_reviews     50
duration                   15
director_fb_likes         104
actor_3_fb_likes           23
actor_2_name               13
actor_1_fb_likes            7
gross                     884
genres                      0
actor_1_name                7
movie_title                 0
num_voted_users             0
cast_total_fb_likes         0
actor_3_name               23
facenumber_in_poster       13
plot_keywords             153
movie_imdb_link             0
num_user_for_reviews       21
language                   12
country                     5
content_rating            303
budget                    492
title_year                108
actor_2_fb_likes           13
imdb_score                  0
aspect_ratio              329
movie_fb_likes              0
dtype: int64

In [28]:
data=data.dropna()

In [29]:
data.shape

(3756, 28)

## **4. Analyse exploratoire**

**À FAIRE**

>Dans cette partie, vous devez "explorer" vos données et les visualiser. Cette tâche, qui peut s'avérer très vaste, consiste à s'intéresser à l'information contenue dans nos données "au premier abord".
>
>Sont donc attendus dans cette partie :
>- quelques statistiques descriptives
>- entre 6 et 10 visualisations (vous pouvez bien sûr en regrouper plusieurs sur une même figure)
>- et pour chaque résultat/graphique présenté, une explication succinte

In [ ]:
data.hist(figsize=[20,20])

## **5. Pré-traitement**

**À FAIRE**

>Maintenant que vous commencez à bien connaître votre base de données, on va la préparer pour la partie modélisation.
>
>Sont donc attendus dans cette partie :
>- restriction aux données utiles à la prédiction : potentiellement certaines variables conservées pour la visualisation sont à supprimer pour la modélisation
>- création des échantillons d'entraînement et de test
>- gestion des variables catégoriques d'un côté et numériques de l'autre
>
>La standardisation n'étant pas toujours nécessaire puisque ça dépend des modèles, vous pouvez choisir de la faire dès maintenant ou bien d'attendre de voir si vous en avez besoin...

## **6. Une régression linéaire**

**À FAIRE**

>Tout est dans le titre. Vous devez ici entraîner et tester une régression linéaire pour la prédiction de la note IMDB.  
>Par ailleurs, sont attendus ici :
>- un affichage et une interprétation des coefficients et de leur significativité
>- le choix d'une mesure d'évaluation du modèle et son interprétation
>- une validation croisée pour l'estimation de la qualité du modèle
>- *facultatif : l'ajout d'une régularisation Ridge ou Lasso pour déterminer si les résultats sont meilleurs*

## **7. Un autre modèle de régression**

**À FAIRE**

>Tout est encore dans le titre. Mettez en place le modèle **de régression** que vous souhaitez.  
>Sont donc attendus dans cette partie :
>- une petite phrase pour justifier votre choix
>- les pré-traitements supplémentaires nécessaires s'il y en a
>- évaluation du modèle avec `cross_val_score`
>- affinage des éventuels hyperparamètres avec `GridSearchCV`

## **8. De la régression à la classification**

**À FAIRE**

>Transformez le problème de régression en un problème de classification par une discrétisation du score IMDB en 5 classes : nul, bof, sympa, bon, super.  
>Justifiez votre découpage en indiquant quels seuils vous avez utilisé et pourquoi.

## **9. Une régression logistique**

**À FAIRE**

>Vous devez ici entraîner et tester une régression logistique pour la prédiction de la classe du film.  
>Par ailleurs, sont attendus ici :
>- un affichage et une interprétation des *Odds-ratio* et de leur significativité
>- le choix d'une ou plusieurs mesures d'évaluation du modèle et leur interprétation
>- une validation croisée pour l'évaluation modèle
>- l'affinage des hyperparamètres avec l'outil qui va bien
>- peut-on tracer les courbes ROC et calculer l'AUC ? Pourquoi ?

## **10. Un autre modèle de classification**

**À FAIRE**

>Au choix, une autre méthode de classification. Évidemment, sentez-vous libre d'en essayer plus d'une et de les comparer.  
>Sont donc attendus dans cette partie :
>- une petite phrase pour justifier votre choix
>- les pré-traitements supplémentaires nécessaires s'il y en a
>- évaluation du modèle
>- étude de l'importance des paramètres, si votre modèle le permet
>- affinage des éventuels hyperparamètres

## **11. En option**

Bravo, si vous êtes arrivés jusqu'ici !!!

Pour les flèches, hésitez pas à continuer si vous en voulez encore et pour les autres, hésitez pas à y revenir à l'occasion.

### **11.1. Un outil de recommandation**

**À FAIRE**

>Question un peu plus ouverte pour terminer: en utilisant une méthode de clustering (donc d'apprentissage non-supervisé), construisez un petit outil de recommandation de films.  
>Pour un film donné, votre méthode doit donc retourner les films qui lui ressemblent le plus.  
>Pour rappel, on avait fait un petit exercice comme celui-cilorsqu'on avait vu les *k-plus proches voisins*, donc vous êtes invités à ne pas utiliser kNN, sinon c'est pas drôle...  
>Vous pourrez bientôt aller plus loin en créant une petite application web permettant une interface pour choisir un film.

### **11.2. Sauvegarder un modèle**

**À FAIRE**

>Utilisez le module `pickle` pour sauvegarder le meilleur de vos modèles et le recharger ensuite.

### **11.3. Analyse en Composantes Principales**

**À FAIRE**

>Utilisez une ACP pour visualiser vos données en dimension 2 ou 3 avec des points dont la couleur varie en fonction de la classe.

## Sources

* https://thispointer.com/pandas-get-unique-values-in-single-or-multiple-columns-of-a-dataframe-in-python/