<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [ ]:
Version 2

In [26]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [4]:
data = pd.read_csv('data/5000_movies_bis.csv')

In [5]:
data.shape

(5043, 28)

In [7]:
data.drop_duplicates(inplace = True)
data.shape

(4998, 28)

In [8]:
numerical_cols = [col for col in data.columns if data[col].dtype != 'object']
categorical_cols = [col for col in data.columns if data[col].dtype == 'object']

In [9]:
categorical_cols, numerical_cols

(['color',
  'director_name',
  'actor_2_name',
  'genres',
  'actor_1_name',
  'movie_title',
  'actor_3_name',
  'plot_keywords',
  'movie_imdb_link',
  'language',
  'country',
  'content_rating'],
 ['num_critic_for_reviews',
  'duration',
  'director_fb_likes',
  'actor_3_fb_likes',
  'actor_1_fb_likes',
  'gross',
  'num_voted_users',
  'cast_total_fb_likes',
  'facenumber_in_poster',
  'num_user_for_reviews',
  'budget',
  'title_year',
  'actor_2_fb_likes',
  'imdb_score',
  'aspect_ratio',
  'movie_fb_likes'])

In [10]:
data[numerical_cols].describe()

,num_critic_for_reviews,duration,director_fb_likes,actor_3_fb_likes,actor_1_fb_likes,gross,num_voted_users,cast_total_fb_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_fb_likes,imdb_score,aspect_ratio,movie_fb_likes
count,4949.000000,4983.000000,4895.000000,4975.000000,4991.000000,4.536000e+03,4.998000e+03,4998.000000,4985.000000,4977.000000,4.600000e+03,4891.000000,4985.000000,4998.000000,4671.000000,4998.000000
mean,139.890079,107.213325,688.679060,639.900905,6556.939892,4.509037e+07,8.347020e+04,9676.941176,1.368907,272.014667,3.937862e+07,2002.468820,1642.998796,6.441056,2.221417,7487.430172
std,121.477586,25.248775,2821.649616,1643.298282,15061.586700,6.608269e+07,1.380866e+05,18165.404578,2.014623,377.776210,2.050105e+08,12.475235,4030.925303,1.124107,1.391185,19290.726563
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.130000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,611.500000,3.763398e+06,8.560000e+03,1405.500000,0.000000,64.000000,6.000000e+06,1999.000000,280.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,369.000000,984.000000,2.153765e+07,3.426050e+04,3085.500000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,162.500000
75%,195.000000,118.000000,192.000000,635.000000,11000.000000,5.753742e+07,9.612075e+04,13740.500000,2.000000,324.000000,4.400000e+07,2011.000000,917.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [11]:
data.isnull().sum()

color                      19
director_name             103
num_critic_for_reviews     49
duration                   15
director_fb_likes         103
actor_3_fb_likes           23
actor_2_name               13
actor_1_fb_likes            7
gross                     462
genres                      0
actor_1_name                7
movie_title                 0
num_voted_users             0
cast_total_fb_likes         0
actor_3_name               23
facenumber_in_poster       13
plot_keywords             152
movie_imdb_link             0
num_user_for_reviews       21
language                   12
country                     5
content_rating            301
budget                    398
title_year                107
actor_2_fb_likes           13
imdb_score                  0
aspect_ratio              327
movie_fb_likes              0
dtype: int64

In [12]:
data.color.unique()

array(['Color', nan, ' Black and White'], dtype=object)

In [ ]:
drop color

In [13]:
data.director_name.nunique(), data.director_name.isnull().sum()

(2398, 103)

In [14]:
data = data.dropna(axis = 0, subset = ['director_name'] )

In [15]:
data.num_critic_for_reviews.min(), data.num_critic_for_reviews.max(), data.num_critic_for_reviews.median()

(1.0, 813.0, 112.0)

In [16]:
data.duration.min(), data.duration.max(), data.duration.median()

(7.0, 330.0, 104.0)

In [17]:
data.gross.isnull().sum()

363

In [18]:
data.language.value_counts()

English       4567
French          72
Spanish         40
Hindi           28
Mandarin        24
German          19
Japanese        16
Russian         11
Cantonese       11
Italian         10
Portuguese       8
Korean           8
Danish           5
Arabic           5
Hebrew           5
Swedish          5
Norwegian        4
Dutch            4
Persian          4
Thai             3
Chinese          3
Indonesian       2
Dari             2
Romanian         2
Zulu             2
Aboriginal       2
None             2
Maya             1
Panjabi          1
Dzongkha         1
Swahili          1
Slovenian        1
Polish           1
Filipino         1
Aramaic          1
Tamil            1
Urdu             1
Hungarian        1
Mongolian        1
Czech            1
Greek            1
Telugu           1
Kannada          1
Bosnian          1
Kazakh           1
Icelandic        1
Vietnamese       1
Name: language, dtype: int64

In [23]:
# count data.language.unique()

In [24]:
data.director_name.value_counts()

Steven Spielberg         26
Woody Allen              22
Martin Scorsese          20
Clint Eastwood           20
Ridley Scott             17
                         ..
Shinji Aramaki            1
James David Pasternak     1
Thomas L. Phillips        1
Daniel Stamm              1
Nae Caranfil              1
Name: director_name, Length: 2398, dtype: int64

In [25]:
data['main_genre'] = data.genres.str.split('|').str[0]

In [27]:
le = LabelEncoder()
data['main_genre'] = le.fit_transform(data.main_genre)